

<!DOCTYPE html>
<html>
  <head>
    <title>Tranform Url FreeCodeCamp 3</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>

     


    <main>
        <h1>
      FreeCodeCamp project 3 GeorgeCrisan
      </h1>
      <h2>URL Shortener Microservice</h2>
      <p>Example creation usage in address bar :</p>
        <code>https://shr-url.glitch.me/new/https://www.google.com</code>
        <br/>
      <p>Example creation usage in form bellow:</p>
        <code>https://www.google.com</code>
        
<p>Example creation output:</p>
<code>{ "original_url":"https://www.google.com"</code> <br/> <code>"short_url":"ttps://shr-url.glitch.me/8170" }</code>
  <br/>
      <p>Usage:</p>
<code>https://shr-url.glitch.me/8170</code>
<p>Will redirect to:</p>
<code>https://www.google.com/</code>
       <section>
    <form>
        <input type="text" id="toTransform" placeholder="Input example https://www.google.com"/>
        <button type="text" class="send" onclick="sendUri()">
            Submit
      </button>
      </form>
    
    </section>

    </main>
   

  

<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
    <script src="/client.js"></script>

  </body>
</html>
