

<!DOCTYPE html>
<html>
  <head>
    <title>Tranform Url FreeCodeCamp 3</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <h1>
      freencodecamp project 3 GeorgeCrisan
      </h1>
    </header>

    <main>
      <h2>URL Shortener Microservice</h2>
      <p>Example creation usage:</p>
        <code>https://shr-url.glitch.me//new/https://www.google.com</code>
        <br/>
        <code>https://shr-url.glitch.me//new/http://foo.com:80</code>
<p>Example creation output</p>
<code>{ "original_url":"http://foo.com:80"</code> <br/> <code>"short_url":"https://little-url.herokuapp.com/8170" }</code>
  <br/>
      <p>Usage:</p>
<code>https://shr-url.glitch.me/2871</code>
<p>Will redirect to:</p>
<code>https://www.google.com/</code>

    </main>
    <section>
    <form>
        <input type="text" id="toTransform" placeholder="Input example https://www.googe.com"/>
        <button type="text" onclick="sendURI()">
            Submit
      </button>
      </form>
    
    </section>

  

<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
    <script src="/client.js"></script>

  </body>
</html>
