
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: helvetica, arial, sans-serif;
  background-image: url('https://pixabay.com/get/e832b60d2af0033ed1584d05fb0938c9bd22ffd41cb3134996f6c670ae/domain-names-1772242_1280.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  

  
}

h1 {
  font-weight: bold;
  color: #faa500;
  text-shadow: 2px 2px 2px black;
  text-align: center;
  padding-top: 30px;
  
}

h2 {
  padding: 30px;

}

main {
  margin: auto;
  width: 100vw;
  height: 100vh;
  text-align: center;
  font-size: 17px;
  background-color: rgba(14,34,4, 0.5);
  color: white;
  text-shadow: 2px 2px 2px black;

}

.bold {
  font-weight: bold;
}

p {
   text-align: center;
   margin: 20px auto;
   color: red;
  text-shadow: 2px 2px 2px black;
   
}

form {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  max-width: 550px;
  border-radius: 3px;
  margin: auto;
  
}

input {
  display: block;
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 3px;
  font-size: 16px;
}

button {
  font-size: 16px;
  border-radius: 3px;
  width: 100px;
  background-color: black;
  border: 1px solid #FD0E35;
  color: white;
  cursor: pointer;
  margin-left: 10px;
  height: 30px;
}

section{
  margin-top: 50px;
width: 100%;

}

button:hover {
  background-color: white;
  border: 1px solid lime;
  color: black;
}

button:active {
  box-shadow: none;
}

